* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}

.puzzle-figure {
    width: 400px;
    height: 400px;
    margin: 10px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #000000;
    padding: 10px 10px 10px 10px;
}

ul li {
    color: #000000;
    background: #ffffff;
    width: calc(380px/3);
    height: 100px; 
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem; 
    border-style: outset;
    border-width: 10px; 
}

.empty {
    background: #ffffff00;
    border: 0px;
}

figcaption {
    color: #000000;
    font-style: italic; 
    text-align: left;
}
 